{% extends 'base.html' %} 
{% load static %}
{% block content %}
{%load crispy_forms_tags %}

<div class="container">
    <div class="row">
        {% for prescription in prescriptions %}
        <div class="col-md-3" padding=10px>
            <a href="{% url 'prescriptiondetail' prescription.id %}">
                <div class="card">
                    <div class="card-header">{{prescription.patient}}</div>
                    <div class="card-body">{{prescription.description|slice:"0:100"}}</div>
                    <div class="card-footer mt-auto "><a href="{% url 'delete_prescription' prescription.id %}">
                        <i class="fa fa-trash fa-2x" data-toggle="tooltip" data-placement="bottom" title="Delete">
                        </i></a>
                        <a href="{% url 'duplicateprescription' prescription.id %}">
                            <i class="fa fa-clipboard fa-2x" data-toggle="tooltip" data-placement="bottom" title="Duplicate">
                            </i>
                        </a>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <br>
        <br>
    </div>
</div>
<br><br>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Prescription</legend>
        </fieldset>
        {{form | crispy}}
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Create and send mail
            </button>
        </div>
    </form>
</div>

{% endblock content %}