{% extends 'base.html' %}

{% block content%}

{% for i in listOfImagesPath %}
<style>
    img{
        padding:10px;
        align-item:center;
    }
</style>
<div class = "container-fluid" style = "display:flex;justify-content:center">
<img src={{i}} style="width: 300px;"> <br>
</div>

<div class = "container-fluid" style = "display:flex;justify-content:center">{{i}} 
  </div>
  {% comment %} <button class="btn"><i class="fa fa-trash"></i></button> {% endcomment %}

{% comment %} <div class="container-fluid"><a href="{% url 'delete_prescription' prescription.id %}">
    <i class="fa fa-trash fa-2x" data-toggle="tooltip" data-placement="bottom" title="Delete">
    </i></a> {% endcomment %}
        <br>

{% endfor%}



{% endblock %}